.note{
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  text-align: center;
  padding-top: 30vh;
}

.arrow{
  font-size: 50px;
  text-align: center;
}

.icon{
  text-align: center;
}